<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark - WhatsWeather</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Navigation-with-Search.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">WhatsWeather</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./weather.html">Weather</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./bookmark.html">Bookmark</a></li>
                </ul>
            </div>
            <div>
                <table border="0" id="user-frame">
                </table>
            </div>
        </div>
    </nav>

    <div class="contact-clean" ng-app="myApp" ng-controller="tableCtrl">
        <div style="width:300px;height:20px;margin:0 auto;">
            <table>
                <tr>
                    <td>Index</td>
                    <td>City Name</td>
                    <td>Current Temp</td>
                </tr>
                <tr ng-repeat="x in bookmark | filter:city" ng-click="weatherDetail(x)">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ x.city }}</td>
                    <td>
                        <center>{{ x.temp }}</center>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script>
        var app = angular.module('myApp', []);
        var bookmark = [];
        var url = "https://assignment2-jacobcnhk.c9users.io/bookmark/list/";
        var id = localStorage.getItem('id');

        if (id == null) {
            alert('Please, login first');
        }
        else {
            app.controller('tableCtrl', function($scope, $http) {
                $http.get(url + id)
                    .then(function successCallback(response) {
                        var data = response.data;
                        for (var key in data) {
                            // Add the city name into 2d array
                            var value = data[key].city;
                            // Add the current temp with the city into 2d array
                            var temp_url = "https://assignment2-jacobcnhk.c9users.io/weather/city/";
                            $http.get(temp_url + value)
                                .then(function successCallback(response) {
                                    var temp_value = response.data.temp;
                                    var city_value = response.data.city_name;
                                    var obj = {
                                        city: city_value,
                                        temp: temp_value
                                    };
                                    bookmark.push(obj);
                                }, function errorCallback(response) {
                                    alert("error occur");
                                });
                        }
                    }, function errorCallback(response) {
                        alert("error occur");
                    });
                $scope.bookmark = bookmark;


                $scope.weatherDetail = function(x) {
                    localStorage.setItem('target', x.city);
                    window.location.replace("./detail.html");
                }
            });
        }
    </script>
    <script src="./js/nav.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
