<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - WhatsWeather</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Navigation-with-Search.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
</head>

<body>
    <!-- Header - Nav bar -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">WhatsWeather</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./weather.html">Weather</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./bookmark.html">Bookmark</a></li>
                </ul>
            </div>
            <div>
                <table border="0" id="user-frame">
                </table>
            </div>
        </div>
    </nav>

    <!-- Content-->

    <div class="login-clean" ng-app="myApp" ng-controller="formCtrl">
        <form novalidate>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group"><input class="form-control" type="text" ng-model="user.username" name="username" placeholder="Username" required></div>
            <div class="form-group"><input class="form-control" type="password" ng-model="user.password" name="password" placeholder="Password" required></div>
            <div class="form-group"><button class="btn btn-primary btn-block" ng-click="login()">Log In</button></div>
        </form>
    </div>

    <!-- Footer -->

    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var app = angular.module('myApp', []);
        var url = "https://assignment2-jacobcnhk.c9users.io/usr/login/";

        app.controller('formCtrl', function($scope, $http) {
            $scope.login = function() {
                $http.get(url + $scope.user.username + "/" + $scope.user.password)
                    .then(function successCallback(response) {
                        if (response.data.isSuccess) {
                            localStorage.setItem('id', response.data.id);
                            localStorage.setItem('username', response.data.username);
                            localStorage.setItem('email', response.data.email);
                            window.location.replace("./index.html");
                        }
                        else {
                            alert(response.data.errMsg);
                            localStorage.clear();
                        }
                    }, function errorCallback(response) {
                        console.log(response);
                        alert("error occur");
                    });
            };
        });
    </script>
    <script src="./js/nav.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
