<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - WhatsWeather</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Navigation-with-Search.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</head>

<body>
    <!-- Header - Nav bar -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">WhatsWeather</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./weather.html">Weather</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./bookmark.html">Bookmark</a></li>
                </ul>
            </div>
            <div>
                <table border="0" id="user-frame">
                </table>
            </div>
        </div>
    </nav>

    <div class="contact-clean" ng-app="myApp" ng-controller="formCtrl">
        <table class="table table-bordered" border="0" align="center">
            <tr>
                <td>
                    <input type="email" ng-model="email" placeholder="Email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" ng-model="password" placeholder="Password" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" ng-model="cfm_password" placeholder="Password Confirm" required>
                </td>
            </tr>
            <tr>
                <td>
                    <center><button ng-click="update()">Update</button></center>
                </td>
            </tr>
        </table>
    </div>

    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var app = angular.module('myApp', []);
        var register_url = "https://assignment2-jacobcnhk.c9users.io/usr/update/";

        app.controller('formCtrl', function($scope, $http) {
            $scope.update = function() {
                $scope.email = localStorage.getItem('email');

                // Check the username is exist
                $http.get(register_url)
                    .then(function successCallback(response) {

                    }, function errorCallback(response) {
                        console.log(response);
                        alert("error occur: update profile");
                    });
            }
        });
    </script>
    <script src="./js/nav.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
