<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - WhatsWeather</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Navigation-with-Search.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">WhatsWeather</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./weather.html">Weather</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="./bookmark.html">Bookmark</a></li>
                </ul>
            </div>
            <div>
                <table border="0" id="user-frame">
                </table>
            </div>
        </div>
    </nav>

    <div class="register-photo">
        <div class="form-container" ng-app="myApp" ng-controller="formCtrl">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" ng-model="user.username" type="text" name="username" placeholder="Username" required></div>
                <div class="form-group"><input class="form-control" ng-model="user.email" type="email" name="email" placeholder="Email" required></div>
                <div class="form-group"><input class="form-control" ng-model="user.password" type="password" name="password" placeholder="Password" required></div>
                <div class="form-group"><input class="form-control" ng-model="user.cfm_password" type="password" name="password-repeat" placeholder="Password (repeat)" required></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" ng-click="register()">Sign Up</button></div><a href="./login.html" class="already">You already have an account? Login here.</a></form>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        var app = angular.module('myApp', []);
        var register_url = "https://assignment2-jacobcnhk.c9users.io/usr/create/",
            check_username = "https://assignment2-jacobcnhk.c9users.io/usr/check/username/",
            check_email = "https://assignment2-jacobcnhk.c9users.io/usr/check/email/";


        app.controller('formCtrl', function($scope, $http) {
            $scope.register = function() {
                var run = true;
                if ($scope.user.email == null || !(isEmailAddress($scope.user.email))) {
                    run = false;
                    alert('The email address is not validation! For example: abc@abc.com');
                }
                if ($scope.user.username == null) {
                    run = false;
                }
                if ($scope.user.password == null) {
                    run = false;
                }
                
                // Check the username is exist
                if (run) {
                    $http.get(check_username + $scope.user.username)
                        .then(function successCallback(response) {
                            if (response.data.isSuccess == false) {
                                alert('Your username is exist, please change other username!');
                            }
                            else {
                                // Create a new account
                                $http.get(register_url + $scope.user.username + "/" + $scope.user.email + "/" + $scope.user.password)
                                    .then(function successCallback(response) {
                                        console.log(response.data)
                                        if (response.data.isSuccess) {
                                            if (response.data.isSuccess == true) {
                                                alert('Success to register!');
                                            }
                                            else {
                                                alert('Fail to register!');
                                            }
                                        }
                                    }, function errorCallback(response) {
                                        console.log(response);
                                        alert("error occur: register failed");
                                    });
                            }
                        }, function errorCallback(response) {
                            console.log(response);
                            alert("error occur: check username");
                        });
                }
            };
        });

        function isEmailAddress(str) {
            var pattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            return pattern.test(str);
        }
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="js/register.js"></script>-->
</body>

</html>
