<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather - WhatsWeather</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Footer-Clean.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Navigation-with-Search.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="formCtrl">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">WhatsWeather</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="./weather.html">Weather</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="./bookmark.html">Bookmark</a></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" ng-model="city" type="text" placeholder="City name" name="search" id="search-field"><button ng-click="search()">Search</button></div>
                    </form>
                </div>
                <div>
                    <table border="0" id="user-frame">
                    </table>
                </div>
            </div>
        </nav>

        <div class="contact-clean" style="width:300px;height:20px;margin:0 auto;">
            <table class="table table-bordered" border="0" ng-show="weatherForm">
                <tr>
                    <td>City name</td>
                    <td colspan="2">
                        <center>{{ city_name }}</center>
                    </td>
                </tr>
                <tr>
                    <td>Weather</td>
                    <td colspan="2">
                        <center><img ng-src="{{icon}}"> {{ weather }}</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>Min temp</center>
                    </td>
                    <td>
                        <center>Current temp</center>
                    </td>
                    <td>
                        <center>Max temp</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>{{ min_temp }}</center>
                    </td>
                    <td>
                        <center>{{ temp }}</center>
                    </td>
                    <td>
                        <center>{{ max_temp }}</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <center>
                            <button ng-show="addToBookmark" ng-click="add()">Add to bookmark</button>
                            <button ng-show="removeFromBookmark" ng-click="remove()">Remove from bookmark</button>
                        </center>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);

        app.controller('formCtrl', function($scope, $http) {
            $scope.weatherForm = false, $scope.addToBookmark = true, $scope.removeFromBookmark = false;
            var url = "https://assignment2-jacobcnhk.c9users.io/weather/city/",
                cityName = "",
                bid,
                lon = 0,
                lat = 0;

            $scope.search = function() {
                // Get weather detail by city name
                $http.get(url + $scope.city)
                    .then(function successCallback(response) {
                        if (response.data.isFound) {
                            $scope.weatherForm = true;
                            $scope.city_name = response.data.city_name;
                            cityName = response.data.city_name;
                            $scope.temp = response.data.temp;
                            $scope.min_temp = response.data.min_temp;
                            $scope.max_temp = response.data.max_temp;
                            $scope.icon = "http://openweathermap.org/img/w/" + response.data.icon + ".png";
                            $scope.weather = response.data.main;
                            lon = response.data.lon;
                            lat = response.data.lat;

                            // Check the bookmark is it exist
                            var url = "https://assignment2-jacobcnhk.c9users.io/bookmark/list/";
                            $http.get(url + localStorage.getItem('id'))
                                .then(function successCallback(response) {
                                    var data = response.data;
                                    for (var key in data) {
                                        var value = data[key].city;
                                        if (value == cityName) {
                                            bid = key;
                                            $scope.addToBookmark = false;
                                            $scope.removeFromBookmark = true;
                                        }
                                    }
                                }, function errorCallback(response) {
                                    alert("error occur");
                                });
                        }
                        else {
                            $scope.weatherForm = false;
                            $scope.addToBookmark = false;
                            $scope.removeFromBookmark = false;
                            alert(response.data.errMsg);
                        }
                    }, function errorCallback(response) {
                        alert("error occur");
                    });
            };

            $scope.add = function() {
                var url = "https://assignment2-jacobcnhk.c9users.io/bookmark/add/";
                if (localStorage.id) {
                    $http.get(url + localStorage.getItem('id') + "/" + cityName)
                        .then(function successCallback(response) {
                            if (response.data.isSuccess) {
                                alert('Add to bookmark');
                                $scope.addToBookmark = false;
                                $scope.removeFromBookmark = true;
                            }
                        }, function errorCallback(response) {
                            alert("error occur");
                        });
                }
                else {
                    alert("Please, login first!");
                }
            };

            $scope.remove = function() {
                var url = "https://assignment2-jacobcnhk.c9users.io/bookmark/remove/";
                if (localStorage.id) {
                    $http.get(url + bid)
                        .then(function successCallback(response) {
                            if (response.data.isSuccess) {
                                alert('Remove from bookmark');
                                $scope.addToBookmark = true;
                                $scope.removeFromBookmark = false;
                            }
                        }, function errorCallback(response) {
                            alert("error occur");
                        });
                }
                else {
                    alert("Please, login first!");
                }
            };
        });
    </script>
    <script src="./js/nav.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
